ssh/.ssh/config filter=git-crypt diff=git-crypt
hex/.hex/hex.config filter=git-crypt diff=git-crypt
private/*.private filter=git-crypt diff=git-crypt
home-manager/.config/nixpkgs/private.nix filter=git-crypt diff=git-crypt
